@font-face { font-family: Dungeon; src: url('../src/assets/Fonts/DUNGRG__.TTF');}
@font-face { font-family: Dungeon; font-weight: bold; src: url('../src/assets/Fonts/DUNGRG__.TTF');}
@font-face { font-family: Elvish; src: url('../src/assets/Fonts/Rellanic.otf');}
@font-face { font-family: Elvish; font-weight: bold; src: url('../src/assets/Fonts/Rellanic\ Bold.otf');}
@font-face { font-family: Dwarven; src: url('../src/assets/Fonts/Davek.otf');}
@font-face { font-family: Dwarven; font-weight: bold; src: url('../src/assets/Fonts/Davek\ Bold.otf');}
@font-face { font-family: Draconic; src: url('../src/assets/Fonts/Iokharic.otf');}
@font-face { font-family: Draconic; font-weight: bold; src: url('../src/assets/Fonts/Iokharic\ Bold.otf');}
@font-face { font-family: Abyssal; src: url('../src/assets/Fonts/Barazhad.otf');}
@font-face { font-family: Abyssal; font-weight: bold; src: url('../src/assets/Fonts/Barazhad\ Bold.otf');}
@font-face { font-family: Nodestro; src: url('../src/assets/Fonts/Nodesto\ Caps\ Condensed.otf');}
@font-face { font-family: Nodestro; font-weight: bold; src: url('../src/assets/Fonts/Nodesto\ Caps\ Condensed\ Bold.otf');}

body {
  background: rgb(1,1,1);
  /* background: linear-gradient(180deg, rgba(1,1,1,1) 0%, rgba(226,233,226,1) 100%);
  background-repeat: no-repeat;
  background-size: cover; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  /* Gradient Animation */
  background: linear-gradient(180deg, #000000, #f3ebeb);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 20s ease infinite;
  -moz-animation: GradientAnimation 20s ease infinite;
  animation: GradientAnimation 20s ease infinite;
}

h2, h3, h4 {
  margin: 0;
}

h4 {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  
}

.App-intro {
  font-size: large;
}

.mainUser {
  font-family: Nodestro, sans-serif;
  font-size: 36px;
  color: whitesmoke;
  background-color: rgb(240, 33, 33);
  text-shadow: 2px 2px 8px black;
  box-shadow: 2px 2px 8px black;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.characterList {
  background-image: url('./assets/u0.jpg');
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  width: 1200px;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.characterTable {
  background-color: rgba(252, 249, 249, 0.329);
}

.characterTableHeader {
  background-color: rgb(240, 33, 33);
  font-size: 32px;
  color: whitesmoke;
  text-shadow: 4px 4px 8px black; 
}

.circle {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0 auto;
}

#green {
  background-color: rgba(0, 128, 0, 0.856);
  box-shadow: 2px 2px 12px rgba(4, 161, 4, 0.856);
}

#red {
  background-color: rgba(255, 0, 0, 0.856);
  box-shadow: 2px 2px 12px rgb(224, 7, 7);
}

.name {
  font-family: Nodestro, sans-serif;
  font-size: 48px;
  text-shadow: 2px 2px 8px whitesmoke;
  color: black;
}

.characterDetails {
  width: 1200px;
  font-family: 'Marcellus SC', serif;
  padding: 28px;
  background-image: url('./assets/u0.jpg');
  margin: 0 auto;
  box-shadow: 2px 2px 8px black;
}

.header {
  font-family: Nodestro, sans-serif;
  font-size: 72px;
  background-color: rgb(240, 33, 33);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  width: 92vw;
  float: left;
  transition: .5s;
  text-align: left;
}

.ddm {
  /* background: -webkit-linear-gradient(rgb(241, 237, 237), rgb(19, 18, 18), rgb(10, 10, 10), black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: whitesmoke;
  text-shadow: 3px 3px 12px black;
  padding-left: 10px;
}

.user {
  color: whitesmoke;
  font-size: 36px;
  text-shadow: 2px 2px 8px black;
  text-align: right;
  padding-left: 930px;
}

.loginForm {
  font-family: 'Marcellus SC', serif;
  font-size: 24px;
  background-color: rgb(240, 33, 33);
  color: white;
}

.loginInput {
  font-family: 'Marcellus SC', serif;
  font-size: 24px;
  text-align: left;
  margin-top: 20px;
}

#loginBottomInput {
  margin-bottom: 20px;
}

.hexagonButton {
  width: 80px; 
  height: 46.19px;
  background-color: rgb(240, 33, 33);
  margin: 23.09px 0;
  margin-right: 15px;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  float: left;
  margin-left: 10px;
  z-index: 1;
}

.hexagonButton:before,
.hexagonButton:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.7157px;
}

.hexagonButton:before {
  top: -28.2843px;
  border-top: solid 1.4142px #ffffff;
  border-right: solid 1.4142px #ffffff;
}

.hexagonButton:after {
  bottom: -28.2843px;
  border-bottom: solid 1.4142px #ffffff;
  border-left: solid 1.4142px #ffffff;
}

.hexagonButton-text {
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  color: white;
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  top: 10px;
}

.hexagonButton:hover {
  background-color: black;
}

.hexagonButton:hover > .hexagonButton-text {
  color: rgb(240, 33, 33);
}

#loginButton {
  position: relative;
  top: -40px;
  left: 1080px;
}

#registerButton {
  position: relative;
  top: -120px;
  left: 1100px;
}

.navbar {
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttons {
  padding-top: 5px;
  width: 100px;
  margin-bottom: 10px;
  float: left;
  transition: .5s;
}

.loot {
  height: 50px;
  width: 50px;
  background-image: url('../src/assets/loot.png');
}

.npc {
  background-image: linear-gradient(rgb(150, 98, 31), rgb(172, 117, 46), rgb(187, 179, 137));
}

.container {
  padding: 10px;
}

.property {
  font-family: 'Marcellus SC', serif;
  background-image: url('./assets/u0.jpg');
  font-size: 16px;
  border-radius: 25px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(235, 199, 199);
  padding: 5px;
  margin: 2px;
}

.bigEvent {
  background-image: linear-gradient(rgb(150, 98, 31), rgb(172, 117, 46), rgb(187, 179, 137));
}

.generated {
  /* background-image: url('./assets//u0.jpg'); */
  background-color: rgba(236, 227, 227, 0.473);
  width: 20vw;
  margin: 10px;
  float: left;
  box-shadow: 2px 2px 4px black;
  /* border-color: black;
  border-style: double; */
}

.items {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.magicItem:hover {
  color: whitesmoke;
  background-color: black;
}

.displayItem {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('./assets/u0.jpg');
  width: 50vw;
  border-width: 8px;
  border-style: ridge;
  border-color: rgba(65, 36, 13, 0.61);
  height: 400px;
  overflow-y: scroll;
}

.itemSection {
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  border-color: black;
  border-style: double;
}

.closeDisplayItem {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgba(65, 36, 13, 0.61);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  padding: auto;
}

.closeDisplayItem:hover {
  color: white;
}

.treasureHordeContainer {
  margin-top: 15px;
}

.Elvish {
  font-size: 80px;
  font-family: Elvish, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/wood.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  color: rgba(3, 43, 3, 0.781);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.Dwarven {
  font-size: 80px;
  font-family: Dwarven, sans-serif;
  background-image: url('../src/assets/coals.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #FF3,
 0px -10px 20px #F90,
 0px -20px 40px #C33;
  color: 	#9C7C38;
}

.Draconic {
  font-size: 80px;
  font-family: Draconic, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/earth.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  color: rgba(0, 0, 0, 0.486);
  text-shadow: 2px 2px 3px rgba(73, 29, 3, 0.877);
}

.Abyssal {
  font-size: 80px;
  font-family: Abyssal, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/black-stone.jpg');
  background-size: cover;
  border-style: double;
  border-width: 4px;
  width: 30vw;
  margin: auto;
  padding: 10px;
  text-shadow:
  0px -2px 4px #fff,
  0px -2px 10px #FF3,
  0px -10px 20px #F90,
  0px -20px 40px #C33;
}

.customButton {
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  background-color: rgba(206, 193, 193, 0.288);
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 4px black;
}


.customButton:hover {
  box-shadow: 2px 2px 8px black;
  font-weight: bold;
}

.buttonSpacer {
  height: 35px;
  margin: 10px;
  padding-bottom: 5px;
}

.visible {
  /* background-color: rgba(240, 33, 33, 0.5); */
  background-image: url('./assets//u0.jpg');
  float: left;
  margin: 10px;
  padding: 2px;
  box-shadow: 2px 2px 8px black;
}

#individualLoot {
  width: 345px;
}

#translation {
  width: 36vw;
}

#treasureLoot {
  width: 43.4vw;
}

#npc {
  width: 30vw;
}

#worldShakingEvent {
  width: 30vw;
}

#monster {
  width: 800px;
}

#worldMap {
  height: 600px;
  width: 1200px;
}

.mapImage {
  height: 570px;
  width: 1100px
}

#gridMap {
  height: 1080px;
  width: 1080px;
}

#equipmentDiv {
  width: 550px;
}

#merchantDiv {
  width: 1425px;
}

#soundDiv {
  width: 800px;
}

#settlementGeneratorDiv {
  padding-left: 10px;
  padding-right: 10px;
}

.squareModal {
  height: 55px;
  width: 250px;
  background-image: url('./assets/u0.jpg');
  border-style: ridge;
  border-width: 8px;
  border-color: rgba(65, 36, 13, 0.61);
  position: absolute;
  margin-top: 300px;
  margin-left: 450px;
}

.draggable {
  height: 42px;
  width: 42px;
  border-style: solid;
  background-color: black;
  border-color: black;
  border-top-color: grey;
  border-width: 4px;
  border-radius: 50%;
  position: absolute;
  font-size: 32px;
  color: white;
}

#tiny {
  height: 25px;
  width: 25px;
  font-size: 24px;
}

#large {
  height: 100px;
  width: 100px;
  font-size: 78px;
}

#huge {
  height: 150px;
  width: 150px;
  font-size: 130px;
}

#gargantuan {
  height: 200px;
  width: 200px;
  font-size: 180px;
}

#gridIcons {
  width: 400px;
}

.square {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
}

.terrainWall {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/wall.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainWater {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets//water.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainDoor {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/door.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainTrap {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/trap.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainTreasure {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/treasure.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainLava {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/lava.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainRock {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/rock.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainForest {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/forest.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainSwamp {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/swamp.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainGrass {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/grass.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainSnow {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/snow.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainMountain {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/mountain.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.off {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}

.on {
  position: absolute;
  height: 500px;
  width: 500px;
  background-image: radial-gradient(rgba(255, 0, 0, 0.562), rgba(255, 166, 0, 0.534), rgba(255, 255, 0, 0.534));
  border-radius: 50%;
}

.monsterDetails {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.plaque {
  background-image: url('./assets/brass.jpg');
  font-size: 28px;
  margin: 10px;
  border-color: black;
  border-style: double;
}

.icon {
  height: 25px;
  width: 25px;
}

.iconInfo {
  border-style: double;
  border-color: black;
  margin: 10px;
  height: 50px;
}

#iconInfoLarge {
  height: 108px;
}

#iconInfoHuge {
  height: 158px;
}

#iconInfoGargantuan {
  height: 208px;
}

.removeIcon {
  margin-top: 14px;
}

#attack {
  position: relative;
  left: 0;
}

.monsterGrouping {
  font-family: 'Marcellus SC', serif;
  background-image: url('./assets/u0.jpg');
  border-color: black;
  border-style: double;
  margin: 10px;
}

.scrollDiv {
  padding: 5px;
  border-color: black;
  border-style: double;
  margin: 10px;
  overflow-y: auto;
  height: 255px;
}

.merchantOptions {
  float: left;
  width: 475px;
}

.merchantPending {
  float: left;
  width: 475px;
}

.merchantItem {
  /* background-image: url('./assets//u0.jpg'); */
  background-color: rgba(168, 161, 161, 0.479);
  margin-top: 2px;
  border-style: outset;
}

.merchantItem:hover {
  border-style: inset;
}

.woodSign {
  background-image: url('./assets/sign.jpg');
}

.red {
  color: red;
}

.soundSection {
  border-style: double;
  border-color: black;
  margin: 2px;
  padding: 8px;
}

.soundTitle {
  margin-bottom: 8px;
}

.soundButton {
  border-style: outset;
  padding: 2px;
}

.soundButton:hover {
  border-style: inset;
}

.checkboxDiv {
  text-align: left;
  margin-left: 42%;
}

.customSelect {
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  background: tan url('../src/assets//u0.jpg') repeat-x 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: black;
  border-style: double;
  margin: 5px;
  padding: 5px;
}

#characterCreation {
  width: 1200px;
}

#features {
  width: 1120px;
}

table, th, td {
  border-collapse: collapse;
}

.tableHeader {
  background-color: rgb(240, 33, 33);
  color: white;
  font-family: Dungeon, sans-serif;
  font-size: 28px;
}

.proficiencyTable {
  border: 1px black solid;
}

.profRow {
  border: 1px black solid;
}

table {
  margin: 0 auto;
  overflow-y: auto;
}

th, td {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.tableRow1, .tableRow3, .tableRow5, .tableRow7, .tableRow9, .tableRow11, .tableRow13, .tableRow15, .tableRow17, .tableRow19 {
  background-color: rgb(190, 184, 184);
}

.tableRow2, .tableRow4, .tableRow6, .tableRow8, .tableRow10, .tableRow12, .tableRow14, .tableRow16, .tableRow18, .tableRow20 {
  background-color: white;
}

#tableRow:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

.statContainer {
  width: 100%;
}

.statDiv {
  display: inline-block;
}

.hexagon {
  position: relative;
  width: 80px; 
  height: 46.19px;
  background-color: rgb(240, 33, 33);
  margin: 23.09px 0;
  margin-right: 15px;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  float: left;
  transition: transform 1.5s;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.7157px;
}

.hexagon:before {
  top: -28.2843px;
  border-top: solid 1.4142px #000000;
  border-right: solid 1.4142px #000000;
}

.hexagon:after {
  bottom: -28.2843px;
  border-bottom: solid 1.4142px #000000;
  border-left: solid 1.4142px #000000;
}

.hexagon-text {
  font-family: 'Marcellus SC', serif;
  font-size: 12px;
  color: white;
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  top: 5px;
}

.hexagon:hover {
  transform: rotate(360deg);
}

.hexagon:hover > .hexagon-text {
  opacity:0;
  z-index: -1000;
}

#spin {
  -webkit-animation:spin .8s linear forwards;
  -moz-animation:spin .8s linear forwards;
  animation:spin .8s linear forwards;
}

#spinRev {
  -webkit-animation:spinRev .8s linear forwards;
  -moz-animation:spinRev .8s linear forwards;
  animation:spinRev .8s linear forwards;
}

.hexagonBlack {
  position: relative;
  width: 80px; 
  height: 46.19px;
  background-color: rgb(0, 0, 0);
  margin: 23.09px 0;
  margin-right: 15px;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
  float: left;
  margin-left: 10px;
  z-index: 1;
}

.hexagonBlack:before,
.hexagonBlack:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 10.7157px;
}

.hexagonBlack:before {
  top: -28.2843px;
  border-top: solid 1.4142px #ffffff;
  border-right: solid 1.4142px #ffffff;
}

.hexagonBlack:after {
  bottom: -28.2843px;
  border-bottom: solid 1.4142px #ffffff;
  border-left: solid 1.4142px #ffffff;
}

.hexagonBlack-text {
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  color: white;
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  width: 100%;
  top: 10px;
}

#fadeIn {
  overflow-x: hidden;
  overflow-y: hidden;
}

#questTracker {
  width: 82vw;
}

.questSection {
  float: left;
  width: 180px;
  margin: 10px;
  font-family: 'Marcellus SC', serif;
}

#questHeader {
  background-color: rgb(240, 33, 33);
  color: whitesmoke;
  font-family: 'Marcellus SC', serif;
}

.questSelected {
  background-image: url('./assets/u0.jpg');
  font-family: 'Marcellus SC', serif;
  font-size: 18px;
  border-style: outset;
  width: 500px;
  height: 250px;
  padding: 10px;
  overflow-y: auto;
  position: absolute;
  left: 35%;
  z-index: 1;
}

#questSelect:hover {
  background-color: black;
  color: whitesmoke;
}

.quest {
  height: 25px;
  width: 25px;
  border-style: double;
  border-color: black;
  margin: 5px;
}

.questDesc {
  height: 60px;
  overflow-y: auto;
}

.questRewardTable{
  height: 60px;
  overflow-y: auto;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1d970d, 0 0 40px #0d9113, 0 0 50px #0c6909, 0 0 60px #0f5f13, 0 0 70px #125017;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #136610, 0 0 40px #19860a, 0 0 50px #0b6b13, 0 0 60px #138018, 0 0 70px #137e05, 0 0 80px #0b9b12;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@keyframes spinRev {
	0%  {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}	
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes GradientAnimation { 
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}