@font-face { font-family: Dungeon; src: url('../src/assets/Fonts/DUNGRG__.TTF');}
@font-face { font-family: Dungeon; font-weight: bold; src: url('../src/assets/Fonts/DUNGRG__.TTF');}
@font-face { font-family: Elvish; src: url('../src/assets/Fonts/Rellanic.otf');}
@font-face { font-family: Elvish; font-weight: bold; src: url('../src/assets/Fonts/Rellanic\ Bold.otf');}
@font-face { font-family: Dwarven; src: url('../src/assets/Fonts/Davek.otf');}
@font-face { font-family: Dwarven; font-weight: bold; src: url('../src/assets/Fonts/Davek\ Bold.otf');}
@font-face { font-family: Draconic; src: url('../src/assets/Fonts/Iokharic.otf');}
@font-face { font-family: Draconic; font-weight: bold; src: url('../src/assets/Fonts/Iokharic\ Bold.otf');}
@font-face { font-family: Abyssal; src: url('../src/assets/Fonts/Barazhad.otf');}
@font-face { font-family: Abyssal; font-weight: bold; src: url('../src/assets/Fonts/Barazhad\ Bold.otf');}

body {
  background-color:rgba(227, 219, 179, 1);
}

h2, h3, h4 {
  margin: 0;
}

h4 {
  margin: 0;
}

.App {
  text-align: center;
  background-color:rgba(227, 219, 179, 1);
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  
}

.App-intro {
  font-size: large;
}

.header {
  font-family: Dungeon, sans-serif;
  font-size: 60px;
  background-color: rgb(240, 33, 33);
  border-bottom-style: double;
  border-bottom-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-top: 5px;
  margin-bottom: 10px;
}

.buttons {
  height: 50px;
  margin-bottom: 10px;
}

.loot {
  height: 50px;
  width: 50px;
  background-image: url('../src/assets/loot.png');
}

.npc {
  background-image: linear-gradient(rgb(150, 98, 31), rgb(172, 117, 46), rgb(187, 179, 137));
}

.container {
  padding: 10px;
}

.property {
  font-family: 'Marcellus SC', serif;
  background-image: url('./assets/u0.jpg');
  font-size: 16px;
  border-radius: 25px;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(235, 199, 199);
  padding: 5px;
  margin: 2px;
}

.bigEvent {
  background-image: linear-gradient(rgb(150, 98, 31), rgb(172, 117, 46), rgb(187, 179, 137));
}

.generated {
  background-image: url('./assets//u0.jpg');
  width: 20vw;
  margin: 10px;
  float: left;
  border-color: black;
  border-style: double;
}

.items {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.magicItem:hover {
  color: whitesmoke;
  background-color: black;
}

.displayItem {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url('./assets/u0.jpg');
  width: 50vw;
  border-width: 8px;
  border-style: ridge;
  border-color: rgba(65, 36, 13, 0.61);
}

.itemSection {
  width: 80%;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  border-color: black;
  border-style: double;
}

.closeDisplayItem {
  position: absolute;
  right: 0;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgba(65, 36, 13, 0.61);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  padding: auto;
}

.closeDisplayItem:hover {
  color: white;
}

.treasureHordeContainer {
  margin-top: 15px;
}

.Elvish {
  font-size: 80px;
  font-family: Elvish, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/wood.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  color: rgba(3, 43, 3, 0.781);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.Dwarven {
  font-size: 80px;
  font-family: Dwarven, sans-serif;
  background-image: url('../src/assets/coals.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  text-shadow:
 0px -2px 4px #fff,
 0px -2px 10px #FF3,
 0px -10px 20px #F90,
 0px -20px 40px #C33;
  color: 	#9C7C38;
}

.Draconic {
  font-size: 80px;
  font-family: Draconic, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/earth.jpg');
  background-size: cover;
  border-style: double;
  width: 30vw;
  margin: auto;
  padding: 10px;
  color: rgba(0, 0, 0, 0.486);
  text-shadow: 2px 2px 3px rgba(73, 29, 3, 0.877);
}

.Abyssal {
  font-size: 80px;
  font-family: Abyssal, sans-serif;
  font-weight: bold;
  background-image: url('../src/assets/black-stone.jpg');
  background-size: cover;
  border-style: double;
  border-width: 4px;
  width: 30vw;
  margin: auto;
  padding: 10px;
  text-shadow:
  0px -2px 4px #fff,
  0px -2px 10px #FF3,
  0px -10px 20px #F90,
  0px -20px 40px #C33;
}

.customButton {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  background-image: url('../src/assets/u0.jpg');
  border-color: black;
  border-style: double;
  margin: 5px;
  padding: 5px;
}


.customButton:hover {
  border-width: 5px;
  margin: 0;
}

.buttonSpacer {
  height: 35px;
  margin: 10px;
}

.visible {
  background-color: rgba(189, 165, 165, 0.486);
  float: left;
  border-color: black;
  border-style: double;
  margin: 10px;
  padding: 2px;
}

#individualLoot {
  width: 21.8vw;
}

#translation {
  width: 36vw;
}

#treasureLoot {
  width: 43.4vw;
}

#npc {
  width: 30vw;
}

#worldShakingEvent {
  width: 30vw;
}

#monster {
  width: 47vw;
}

#worldMap {
  height: 600px;
  width: 1200px;
}

.mapImage {
  height: 570px;
  width: 1100px
}

#gridMap {
  height: 1080px;
  width: 1080px;
}

#equipmentDiv {
  width: 550px;
}

#merchantDiv {
  width: 1520px;
}

#soundDiv {
  width: 800px;
}

#settlementGeneratorDiv {
  padding-left: 10px;
  padding-right: 10px;
}

.squareModal {
  height: 55px;
  width: 250px;
  background-image: url('./assets/u0.jpg');
  border-style: ridge;
  border-width: 8px;
  border-color: rgba(65, 36, 13, 0.61);
  position: absolute;
  margin-top: 300px;
  margin-left: 450px;
}

.draggable {
  height: 42px;
  width: 42px;
  border-style: solid;
  background-color: black;
  border-color: black;
  border-top-color: grey;
  border-width: 4px;
  border-radius: 50%;
  position: absolute;
  font-size: 32px;
  color: white;
}

#tiny {
  height: 25px;
  width: 25px;
  font-size: 24px;
}

#large {
  height: 100px;
  width: 100px;
  font-size: 78px;
}

#huge {
  height: 150px;
  width: 150px;
  font-size: 130px;
}

#gargantuan {
  height: 200px;
  width: 200px;
  font-size: 180px;
}

#gridIcons {
  width: 400px;
}

.square {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
}

.terrainWall {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/wall.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainWater {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets//water.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.terrainDoor {
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  float: left;
  background-image: url('./assets/door.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.off {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: red;
  border-radius: 50%;
}

.on {
  position: absolute;
  height: 500px;
  width: 500px;
  background-image: radial-gradient(rgba(255, 0, 0, 0.562), rgba(255, 166, 0, 0.534), rgba(255, 255, 0, 0.534));
  border-radius: 50%;
}

.monsterDetails {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: bold;
}

.plaque {
  background-image: url('./assets/brass.jpg');
  font-size: 28px;
  margin: 10px;
  border-color: black;
  border-style: double;
}

.icon {
  height: 25px;
  width: 25px;
}

.iconInfo {
  border-style: double;
  border-color: black;
  margin: 10px;
  height: 50px;
}

#iconInfoLarge {
  height: 108px;
}

#iconInfoHuge {
  height: 158px;
}

#iconInfoGargantuan {
  height: 208px;
}

.removeIcon {
  margin-top: 14px;
}

#attack {
  position: relative;
  left: 0;
}

.monsterGrouping {
  background-image: url('./assets/u0.jpg');
  border-color: black;
  border-style: double;
  margin: 10px;
}

.scrollDiv {
  padding: 5px;
  border-color: black;
  border-style: double;
  margin: 10px;
  overflow-y: auto;
  height: 255px;
}

.merchantOptions {
  float: left;
  width: 550px;
  border-style: double;
  border-color: black;
}

.merchantPending {
  float: left;
  width: 475px;
  border-style: double;
  border-color: black;
}

.merchantItem {
  background-image: url('./assets//u0.jpg');
  margin-top: 2px;
  border-style: outset;
}

.merchantItem:hover {
  border-style: inset;
}

.woodSign {
  background-image: url('./assets/sign.jpg');
}

.red {
  color: red;
}

.soundSection {
  border-style: double;
  border-color: black;
  margin: 2px;
  padding: 8px;
}

.soundTitle {
  margin-bottom: 8px;
}

.soundButton {
  border-style: outset;
  padding: 2px;
}

.soundButton:hover {
  border-style: inset;
}

.checkboxDiv {
  text-align: left;
  margin-left: 42%;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1d970d, 0 0 40px #0d9113, 0 0 50px #0c6909, 0 0 60px #0f5f13, 0 0 70px #125017;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #136610, 0 0 40px #19860a, 0 0 50px #0b6b13, 0 0 60px #138018, 0 0 70px #137e05, 0 0 80px #0b9b12;
  }
}